DATABASE_TYPE=postgres # postgres or sqlite
AUTH_DATABASE_URL=sqlite:///./auth.db
JWT_SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENV=development
AUTH_SERVICE_URL=http://auth-service:8000
API_SERVICE_URL=http://api-service:8000

OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_PYTHON_LOG_AUTO_INSTRUMENTATION=true
OTEL_PYTHON_LOG_CORRELATION=true

CLUSTER_OTEL_COLLECTOR_ENDPOINT=http://otel-collector:4317

DD_API_KEY=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password1!
POSTGRES_DB_NAME=macro-log-db