DATABASE_TYPE=sqlite # postgres or sqlite
AUTH_DATABASE_URL=sqlite:///./auth.db
API_DATABASE_URL=sqlite:///./api.db
JWT_SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENV=development
AUTH_SERVICE_URL=http://auth-service:8000
API_SERVICE_URL=http://api-service:8000
ENV OTEL_TRACES_EXPORTER=otlp
ENV OTEL_METRICS_EXPORTER=none
ENV OTEL_LOGS_EXPORTER=none
ENV OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_PYTHON_LOG_AUTO_INSTRUMENTATION=true
OTEL_PYTHON_LOG_CORRELATION=true